@import "./fonts.scss";

$MAIN_BLUE: #0b49e7;
$MAIN_BLACK: #333;
$MAIN_GREY: #808080;

@mixin centralBlock($width) {
  margin: 0 auto;
  width: $width;
}

@mixin mainBlueGradient() {
  background-image: linear-gradient(
    108deg,
    rgb(7, 29, 104) 0%,
    rgb(11, 75, 236) 100%
  );
}
